<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-sewan-index") %>>
          <a href="/docs/providers/sewan/index.html">sewan Provider</a>
        </li>

        <li<%= sidebar_current("docs-sewan-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-sewan-datasource-file") %>>
              <a href="/docs/providers/sewan/d/file.html">sewan_file</a>
            </li>
            <li<%= sidebar_current("docs-sewan-datasource-cloudinit-config") %>>
              <a href="/docs/providers/sewan/d/cloudinit_config.html">sewan_cloudinit_config</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-sewan-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-sewan-resource-dir") %>>
              <a href="/docs/providers/sewan/r/dir.html">sewan_dir</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
